.container {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rechart {
    display: flex;
    justify-content: center;
    margin: 30px 5px 0 5px;
    padding: 20px;
    border: 2px solid slategray;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: block;
    }
}